* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  height: 64px;
  border: none;
  padding: 18px 35px;
}

.header {
  background-color: #fff8f3;
  padding: 30px 0px;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

section {
  margin-top: 130;
}
/* Header nad navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 100px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner style */
.banner {
  display: flex;
  align-items: center;
  margin: 0 100px;
}
.banner-title {
  font-family: 700;
  font-size: 85px;
}

.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 15px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section style */
.about {
  border-radius: 10px;
  background-color: #fff8f3;
  padding: 100px 130px;
  text-align: center;
  margin-top: 130px;
}
.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 35px;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about .info-title {
  font-size: 20px;
  color: #757575;
}

.about .info-description {
  font-size: 20px;
  color: #474747;
  font-weight: 700;
}

/* What I do section */
.what-i-do {
  border-radius: 10px;
  padding: 100px 0px;
}

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background-color: white;
  box-shadow: 0px 10px 50px #a5a4a4;
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.skill-description {
  color: #757575;
}

/* resume style */

.resume-content {
  display: flex;
  gap: 24px;
}

.resume .title {
  font-size: 20px;
  font-weight: 700;
}
.resume .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 18px;
}
.resume .description {
  color: #757575;
}

.resume-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.resume-button {
  margin-top: 20px;
  text-align: center;
}

/* contact style */
.contact {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  padding: 130px 100px;
  margin-top: 130px;
}

.contact .section-title {
  text-align: left;
}

.contact input,
textarea {
  margin-bottom: 20px;
  width: 100%;
}

.contact input {
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.contact p {
  margin-bottom: 20px;
}
